.user_card {
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_container {
    display: flex;
    gap: 8px;
}