@import "./reset.css";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #111;
}

.text_center {
    text-align: center;
}

.heading_1 {
    margin-top: 20px;
    font-weight: 800;
    font-size: 2rem;
}

.input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.button {
    background-color: #7783F7;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;

    &:hover {
        background-color: #6773E0;
    }
}

.button_secondary {
    background-color: #DBDBDB;
    border-radius: 8px;
    padding: 8px 12px;
    color: black;

    &:hover {
        background-color: #CFCFCF;
    }
}

.icon_button {
    display: inline-flex;
    gap: 4px;
}