.user_card {
    margin-top: 16px;
    padding: 16px 16px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 8px;
    align-self: end;
}

@media (max-width: 767px) {
    .user_card {
        flex-direction: column;
    }

    .buttons {
        align-self: auto;
    }
}