.header {
    background-color: #7783F7;
    height: 80px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.lang_btn_active {
    text-decoration: underline;
}