.header {
    background-color: #7783F7;
    height: 80px;
    padding-inline: 40px;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
}

.header_container {
    max-width: 1200px;
}

.project_name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}