.header {
    background-color: #7783F7;
    height: 80px;
    padding-inline: 40px;
    display: flex;
    align-items: center;
}

.header_container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.project_name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.lang_buttons,
.lang_buttons button {
    color: white;
    font-weight: 600;
    display: flex;
    gap: 4px;
}

.lang_btn_active {
    text-decoration: underline;
}